.cursor {
  padding-left: 4px;
  color: white;
  border-right: 7px solid #e5e5e5;
  animation: blink-caret 1s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e5e5e5;
  }
}
